
@media screen {
body{
    background-image:url("/image/backdround3.jpeg");
background-repeat: no-repeat;
margin: 0;
padding: 0;
 background-size: cover;
 background-attachment: fixed;  
 background-color: black;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    position: sticky; 
    z-index: 9999; 
    top: 0;  
}
nav ul{
    display: flex;
}
nav ul li a{
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    line-height: 43px;
    margin: 8px;
    padding: 0px 17px;
    display: flex;
    font-size: 1.10rem;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    letter-spacing: 2px;
    transition: 00.6s ease;
  
  
  
}
nav ul li a:hover{
    border-bottom: 2px solid white;
    box-shadow: 5px 10px 30px white;
}
#home-page{ 
    height: 450px;   
    padding-top: 10%;
}
.container::after{
    position: relative;
    cursor: '';


}
h1{
    font-size: 80px;
    color: white;
    text-align: center;
}
h2{
    font-size: 60px; 
    color: white;
    text-align: center;
}
h3{
    font-size: 35px;
    color: white;
    text-align: center;
}
.text{
    text-align: right;

}
h1,h2,h3{
    text-align: start;
    left: 10%;
    padding-left: 90px;
}
.btn{
    color: yellow;
    border: rgb(175, 11, 175);
    /* border-radius: 20%; */

}
.button{
    border: 50px solid;

}
.cta{
    display: inline;
    padding: 10px 30px ;
    color: thistle;
    transition: 3s ease;
    border: 2px solid white;
    margin-left: 10%;
    padding-bottom: 20px;
    width: 40px;
    height: 150px;
    text-align: center;

}
.cta :hover{
    color: teal;
    background-color: blueviolet;

}
.vl {
    border-left: 3px solid white;
    height: 200px;
    size: 10px;
   margin: 50px;
}
  .container{
      padding: 50px;
      margin: 50px;
      border: 50px;
  }
}
p{
    color: white;
}